<footer class="print:hidden bg-[#030712] py-8 px-6 border-t border-gray-800">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-8">
        <div class="text-center md:text-left">
            <a href="https://meshcore.io">
                <img src="{{ 'assets/images/meshcore.svg' | relative_url }}" alt="MeshCore" class="h-5 mb-4 mx-auto md:mx-0 opacity-75">
            </a>
            <div class="text-[11px] text-gray-500 font-extrabold uppercase tracking-widest leading-loose">
                <div>🇳🇿 App made in New Zealand</div>
                <div>🇦🇺 Firmware made in Australia</div>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex gap-8 text-gray-500 text-sm font-semibold uppercase tracking-tighter">
                <a href="https://meshcore.io" class="hover:text-white transition">Home</a>
                <a href="https://blog.meshcore.io" class="hover:text-white transition">Blog</a>
                <a href="https://docs.meshcore.io" target="_blank" class="hover:text-white transition">Docs</a>
                <a href="https://flasher.meshcore.io" target="_blank" class="hover:text-white transition">Flasher</a>
                <a href="https://map.meshcore.io" target="_blank" class="hover:text-white transition">Map</a>
            </div>
            <div class="mt-4 mx-auto flex gap-4 text-gray-500 text-2xl">
                <a href="https://facebook.com/groups/meshcore" target="_blank" class="hover:text-white transition">
                    <i class="fab fa-facebook text-2xl"></i>
                </a>
                <a href="https://reddit.com/r/meshcore" target="_blank" class="hover:text-white transition">
                    <i class="fab fa-reddit text-2xl"></i>
                </a>
                <a href="https://meshcore.gg" target="_blank" class="hover:text-white transition">
                    <i class="fab fa-discord text-2xl"></i>
                </a>
                <a href="https://mastodon.social/@meshcore" target="_blank" class="hover:text-white transition">
                    <i class="fab fa-mastodon text-2xl"></i>
                </a>
                <a href="https://x.com/mesh_core" target="_blank" class="hover:text-white transition">
                    <i class="fab fa-x-twitter text-2xl"></i>
                </a>
            </div>
        </div>
        <p class="text-[11px] text-gray-500 font-extrabold">&copy; 2026 Liam Cottle & Scott Powell</p>
    </div>
</footer>
