<footer class="print:hidden bg-[#030712] py-8 px-6 border-t border-gray-800">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-8">
        <div class="text-center md:text-left">
            <a href="https://meshcore.io">
                <img src="{{ 'assets/images/meshcore_tm.svg' | relative_url }}" alt="MeshCore" class="logo-img mb-4 mx-auto md:mx-0 opacity-75">
            </a>
            <div class="text-[11px] text-gray-500 font-extrabold uppercase tracking-widest leading-loose">
                <div>🇳🇿 App made in New Zealand</div>
                <div>🇦🇺 Firmware made in Australia</div>
            </div>
        </div>
        <div class="flex gap-8 text-gray-500 text-sm font-semibold uppercase tracking-tighter">
            <a href="https://meshcore.io" class="hover:text-white transition">Home</a>
            <a href="https://blog.meshcore.io" class="hover:text-white transition">Blog</a>
            <a href="https://docs.meshcore.io" target="_blank" class="hover:text-white transition">Docs</a>
            <a href="https://flasher.meshcore.io" target="_blank" class="hover:text-white transition">Flasher</a>
            <a href="https://map.meshcore.io" target="_blank" class="hover:text-white transition">Map</a>
        </div>
        <p class="text-[11px] text-gray-500 font-extrabold">&copy; 2026 Liam Cottle & Scott Powell</p>
    </div>
</footer>
